<div style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 1.6; color: #222; max-width:600px;">
  <img src="https://github.com/Rocketseat/bootcamp-gostack-desafio-03/raw/master/.github/logo.png">
  <br /> <br />
  {{{body}}}
  {{> footer}}
</div>
